{% block body %}
    
{% if get_flashed_messages() %}
<div class="container mt-4">
    {% with msg = get_flashed_messages(category_filter=["success"]) %}
    {% if msg %}
        {% for msg in msg %}
        <div class="alert-flash alert alert-success alert-dismissible" role="alert">
            {{msg}}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with msg = get_flashed_messages(category_filter=["error"]) %}
    {% if msg %}
    {% for msg in msg%}
    <div class="alert-flash alert alert-danger alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endif %}

{% endblock %}