@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #C1D0B5;
}

header {
    position: static;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 7%;
    background: transparent;
    text-transform: uppercase;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: all 1s ease;
}

.logo:hover {
    color: #554994;
}

.nav__list {
    display: flex;
    margin-bottom: 0;
}

.nav__list a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    transition: all 1s ease-in-out;
    text-decoration: none;
}

.nav__list a:hover {
    border-bottom: 1.5px solid white;
    color: #554994;
}

.menu {
    color: white;
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.main {
    border-top: 2px solid black;
    position: relative;
    height: 100%;
    top: 0;
}

.main__advice {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50%;
    height: 30%;
    background-color: #99A98F;
    border-bottom: 1px solid black;
}

.main__advice > p {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 28px 28px 72px #474646, -28px -28px 72px #ffffff;
}

.main__advice > .advice__message {
    height: 88%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__advice > .advice__message > p{
    font-family: 'Josefin Sans', 'Ubuntu';
    font-weight: 600;
    font-size: 20px;
}

.main__advice .advice__btn {
    position: relative;
    left: 30px;
    margin: 12px;
    justify-content: space-between;
    display: flex;
}

.main__advice .advice__btn form input {
    display: none;
}

.main__advice .advice__btn form {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    gap: 10px;
    user-select: none;
}

.main__advice .advice__btn form input + label i{
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    font-size: 25px;
    transition: all 0.3s;
    color: #666;
}

.main__advice .advice__btn form input + label i:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: #ffea4988;
}

.main__advice .advice__btn form > input:checked + label i{
    color: #ffeb49;
}

.main__advice .advice__btn form a {
    color: white;
    background-color: transparent;
    font-weight: 500;
    border-radius: 2px;
    font-size: 21px;
    line-height: 1.5rem;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
    transition: all 0.3s;
}

.main__advice .advice__btn form a .btn__icon i{
    transition: all 0.3s;
}

.main__advice .advice__btn form a:hover .btn__icon i{
    transform: scale(1.2);
    color: whitesmoke;
}

.main__advice .advice__btn form a .btn__icon i {
    width: 1.3rem;
    height: 1.3rem;
    color: #666;
}

.main__advice .advice__btn form a:focus span{
    animation: spin 1.2s linear;
}

section .advice__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .advice__content .content {
    width: 70vw;
    height: 50vh;
    margin-top: 17px;
    background-color: #99A98F;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
